/* Kitty Carousel */

body {
    margin: 0;
    box-sizing: border-box;
}
main {
}
#carousel1 {
    height: 600px;
    width: 100vw;
    /* overflow needs positioning */
    position: relative;
    overflow: hidden;
}

#kitty1 {
    background-image: url("assets/kit1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#kitty2 {
    background-image: url("assets/kit2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#kitty3 {
    background-image: url("assets/kit3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#kitty4 {
    background-image: url("assets/kit4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.slide {
    position: absolute;
    width: 100vw;
    height: 600px;
    display: inline-block;
    transform: translateX(100%);
}
.slide.onscreen {
    transform: translateX(0);
}
.slide.exit {
    transform: translateX(-100%);
}

.slide.onscreen,
.slide.exit {
    transition: ease-out;
    transition-duration: 1s;
}

.dots {
    position: relative;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    margin: 0;
    padding: 0;
    z-index: 1;
    list-style-type: none;
}

.dot {
    display: flex;
    width: 20px;
    height: 20px;
    margin: 20px 5px;

    border: 2px solid pink;
    border-radius: 50%;
}
.dot.current {
    background-color: darksalmon;
}
