body {
    margin: 0;
    display: grid;
    grid-template-rows: 70px 1fr 30px;
    grid-template-columns: 100%;
    min-height: 100vh;
}
header {
    background-color: burlywood;
}
main {
    /* background-color: coral; */
}
footer {
    background-color: cadetblue;
}
