body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: cornflowerblue;
    flex-basis: 70px;
}
main {
    background-color: darksalmon;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
footer {
    background-color: darkkhaki;
    flex-basis: 30px;
}

img {
}
