<nav>
    <h2>my projects</h2>
    {{> projectlist }}</nav>
<div>
    <h1>{{project/title}}</h1>

    <img src="..{{project/imgurl}}" alt="big screenshot"/>
    
    <p>{{project/description}}</p>
    <a href="{{project/directory}}"></a>
</div>


