<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="../css/style.css" />
        <link rel="stylesheet" href="{{style}}" />
    </head>
    <body>
        <header>
            <h1>Portfolio</h1>
            <h2>Christo Gogler</h2>
        </header>
        <main>
            {{{body}}}
        </main>
        <footer>
        </footer>
    </body>
</html>