<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/stylesheet.css" />
    </head>
    <body>
        <header><!-- header content goes here --></header>

        {{{body}}}

        <footer>
            <h1>This is the main!</h1>
        </footer>
    </body>
</html>