<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/stylesheet.css" />
    </head>
    <body>
        <header><!-- header content goes here --></header>

        {{{body}}}

        <footer>
            <p>This is not the main!</p>
        </footer>
    </body>
</html>