* {
    font-size: 24pt;
    font-family: Helvetica, Verdana, Tahoma, "Trebuchet MS", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
}

header {
    /* height: 150px; */
    display: flex;
    justify-content: center;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: black; */
}

footer {
    width: 100vw;
    margin-top: 25px;
    display: flex;
    z-index: -1;
    justify-content: center;
    position: relative;
    top: auto;
}
h1 {
}
.board {
    display: flex;
}
.slot {
    width: 50px;
    height: 50px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
}
.slot.winningCombo {
    border: 2px solid black !important;
    border-bottom-left-radius: 0;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    box-shadow: 5px 5px 5px;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.player {
    min-width: 100px;
    min-height: 100px;
    margin: 50px;
    border-radius: 50%;
    overflow: visible;
    box-shadow: none;
}
.red {
}
.blue {
}
.yin {
    background-color: palevioletred;
    box-shadow: palevioletred !important;
}
.yang {
    background-color: cadetblue;
    box-shadow: cadetblue;
}
.yourTurn {
    transform: scale(1.5);
    transition: transform 0.3s ease;
}

/* for small screens/smartphone */
@media screen and (max-width: 640px) {
    header {
        height: auto;
        /* background-color: cornflowerblue; */
    }
    footer {
        justify-content: center;
        /* background-color: blanchedalmond; */
        position: relative;
        top: auto;
    }

    .slot {
        width: 30px;
        height: 30px;
        margin: 4px;
    }
    .player {
        min-width: 50px;
        min-height: 50px;
        font-size: 0.7rem;
        margin: 10px;
        display: flex;
        position: relative;
    }
}
