* {
    font-family: "Times New Roman", Times, serif;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}
header {
    height: 50px;
    margin: 15px 30px;
    /* border: 2px dashed peachpuff; */
}

h1 {
    color: white;
    text-align: center;
    font-size: 30pt;
    font-style: italic;
    font-weight: lighter;
    position: relative;
    top: 150px;

    /* border: 1px dotted turquoise; */
}

#getStartedButton {
    border: 3px solid rgb(211, 127, 23);
    border-radius: 50px;
    padding: 5px 30px;
    background-color: rgb(252, 214, 61);
    color: rgb(211, 127, 23);

    font-size: 20pt;
    margin: 0 auto; /*same space on left & right*/
    display: block;
    position: relative;
    top: 150px;
    /* border: 1px dotted tomato; */
}

h2 {
    font-size: 12pt;
    line-height: 30%;
}

#logo {
    height: 50px;
    float: left;
}

#hamburgerIcon {
    height: 30px;
    float: right;
    padding: 10px;
}

#splash {
    height: 500px;
    background-image: url("assets/spices.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(100, 100, 100, 90);
    /* border: 4px dotted skyblue; */
    overflow: hidden;
}

#promises {
    background-color: lightgray;
    padding: 30px 0;
    box-sizing: border-box;
    text-align: center;
    /* border: 4px dotted skyblue; */
}

#promises > div {
    width: 45%;
    display: inline-block;
    /* border: 2px dashed coral; */
    text-align: left;
    vertical-align: top;
}
#promises > div div {
    overflow: hidden;
}

.icon {
    height: 60px;
    padding: 10px;
    float: left;
}

footer {
    background-color: rgb(108, 108, 108);
    height: 40px;
}

footer p {
    padding: 10px 20px;
    color: white;
    font-size: 10pt;
    margin: 0;
}
/* for desktop size screens */
@media screen and (min-width: 1024px) {
    #promises {
        margin: 0;
        padding: 10px;
    }
    #promises > div {
    }
    #promises > div div {
        max-width: 400px;
    }
    .icon {
        height: 100px;
    }
}
/* for medium screens/tablet */
@media screen and (max-width: 768px) {
}

/* for small screens/smartphone */
@media screen and (max-width: 640px) {
    #logo {
        height: 30px;
        margin: 0;
        padding: 10px;
    }
    header {
        margin: 0;
        padding: 0;
    }

    #promises {
        margin: 0;
        padding: 10px;
    }

    #promises > div {
        width: 100%;
        display: block;
    }
    #promises > div div {
        min-width: 200px;
    }

    h1 {
        font-size: 22pt;
    }

    #getStartedButton {
        border: 2px solid rgb(211, 127, 23);
        font-size: 12pt;
    }
    .icon {
        height: 40px;
    }
} /* END very small screens */
